* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }
ul{
    list-style-type: none;
    padding: 0px;
}
body{
    background: #F1F2F6;
}
.body{
    margin: 0;
   font-family: 'Roboto', sans-serif;
   background: #F1F2F6;
}
.menu-left{
    margin-top: 30px;
    width: 50px;
    height: auto;
    position: fixed;
}
.size-plus{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
h1 {
    text-align: center;
    font-weight: 300;
    color: #777
}

h1 span {
    font-weight: 600;
}

.container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.container-col-mid:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #333;
    z-index: 1
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: rebeccapurple;
    margin-top: 50px;
    z-index: 10;
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
    background:navy;
}
.txt-modal{
    color: #333 !important;
}
.txt-todolist{
    color: #fff !important;
    word-wrap: break-word;
}
.tool-todolist{
    display: block;
    float: right;
}
.color-check{
    color: lightgreen;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}
.color-trash{
    color: firebrick;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    cursor: pointer;
}
.color-close{
    color: firebrick;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}
.color-pen{
    color: yellow;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    cursor: pointer;
}
.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
}

.timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
}


@media screen and (max-width: 768px) {
    .container:before {
        left: 8px;
        width: 2px;
    }
    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}
label{
    float: left;
}